*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one{
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two{
    background-color: #ffcc00;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container{
    background-color: #ffff;
    border-radius: 25px;
    padding: 12px 20px;
    max-width: 700px;
}

input[type = text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type = submit] {
    width: 100%;
    background-color: #000;
    color: #ffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type = submit]:hover {
    background-color: #000;
}
  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
form{
    display: grid;
}

.card {
    font-size: 24px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(19, 18, 18, 0.2);
    transition: 0.3s;
    background-color: #000;
    width: 40%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(19, 18, 18, 0.2);
}
  
.container {
    padding: 2px 16px;
    background-color: #ffcc00;
}

h5{
    font-size: 20px;
    text-align: center;
    color: #000;
}

footer{
    font-size: 20px;
    height: 120px;
    padding: 25px;
    text-align: center;
    background-color: #ffcc00;
    color: #000;
}


